h1 {
    font-size: 70px;
    text-align: center;
    margin: 2%;
}

#btn-container {
    display: flex;
    justify-content: space-evenly;
    margin: 5%;
}

button {
    width: fit-content;
    background-color: white;
    border-radius: 15px;
}

button:focus {
    outline: none;
}

button:hover {
    box-shadow: 0 5px 60px burlywood;
}

#score-container {
    display: flex;
    justify-content: space-evenly;
    font-size: xx-large;  
    margin: 5%;
}

#results-container {
    display: flex;
    font-size: xx-large;
    justify-content: space-evenly;
    margin: 5%;
}

#end-desc {
    display: flex;
    font-size: xx-large;
    justify-content: space-evenly;
}

.hidden {
    display: none;
}
.show {
   display: inline;
}