#btn-container {
    display: flex;
    justify-content: space-evenly;
    margin: 5%;
}

button {
    width: fit-content;
    background-color: white;
    border-radius: 15px;
}

button:focus {
    outline: none;
}

button:hover {
    box-shadow: 0 5px 60px burlywood;
}

#score-container {
    display: flex;
    justify-content: space-evenly;
    font-size: xx-large;  
    margin: 10%;
}

#results-container {
    display: flex;
    font-size: xx-large;
    justify-content: space-evenly;
    margin: 10%;
}

#end-desc {
    display: flex;
    font-size: xx-large;
    justify-content: space-evenly;
}
